* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-family: sans-serif;
    background-color: #1c1c1c;
    height: 6.25rem;
}

.logo {
    max-width: 5rem;
    margin: 0 0.5rem;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav__list li a {
    text-decoration: none;
    color: #ececec;
}

.abrir-menu,.cerrar-menu {
    display: none;
}

.main {
    width: 100%;
}

/*datos del main*/

footer {
    background-color: #ececec;
    font-family: sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 670px) {
    .abrir-menu,.cerrar-menu {
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .abrir-menu {
        color: #ececec;
    }

    .cerrar-menu {
        color: #ececec;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        position: absolute;
        right: 0;
        top:0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav__list li a {
        color:#ececec;
    }
}