* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-family: sans-serif;
    background-color: #1c1c1c;
    height: 6.25rem;
}

.logo {
    max-width: 5rem;
    margin: 0 0.5rem;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav__list li a {
    text-decoration: none;
    color: #ececec;
}

.abrir-menu,.cerrar-menu {
    display: none;
}

.main {
    width: 100%;
    height: auto;
}

.slider {
    width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style-type: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

/*fin de Slider*/

footer {
    background-color: #ececec;
    font-family: sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: auto;
}

.footer__input {
    width: 15rem;
    padding: 0.3rem;
}

.footer__subtitle {
    font-size: 0.8rem;
}

.footer__button {
    width: 5rem;
    padding: 0.3rem;
    color:#ececec;
    background-color: #1c1c1c;
}

@media screen and (max-width: 670px) {
    .abrir-menu,.cerrar-menu {
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .abrir-menu {
        color: #ececec;
    }

    .cerrar-menu {
        color: #ececec;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        position: absolute;
        right: 0;
        top:0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
        z-index: 10;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav__list li a {
        color:#ececec;
    }

    .slider {
        height: 400px;
    }
}