* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

/**********************estilos de la parte del header***********************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-family: sans-serif;
    background-color: #1c1c1c;
    height: 6.25rem;
}

.logo {
    max-width: 5rem;
    margin: 0 0.5rem;
}

.nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav__list li a {
    text-decoration: none;
    color: #ececec;
}

.abrir-menu,.cerrar-menu {
    display: none;
}

.main {
    width: 100vw;
    height: auto;
}

/*********************Estilos de la parte del slider***************************/

.slider {
    width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: 100%;
    transition: 1s;
}

.list .item {
    flex: 0 0 100%; 
    box-sizing: border-box
}

.list img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style-type: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

/********************Estilos del Carousel de noticias******************************/

.Carousel{
    width: 100vw;
    margin: 0px auto;
}
.Carousel h2{
    font-size: 40px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 50px;
}

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    font-family: sans-serif;
}
.slick h4{
    text-align: center;
    font-size: 22px;
    line-height: 23px;
    padding: 5px;
}

.slick p {
    text-align: center;
}

.slick a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

.slick a:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.slick a:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

/************************* Estilos de la Description*******************************/

.container_description {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    margin-top: 100px;
    
}

.description_text {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-family: sans-serif;
}

.description_text button {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    width: 200px;
}

.description_text button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.description_text button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

.description_imagen {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.description_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/***********************Explorar Videos***************************/

.multimedia {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   gap: 10px;
}

.multimedia__title {
    font-size: 40px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 50px;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
    font-family: "Poppins", sans-serif;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .video) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 3px -1px 2px 0px rgba(0,0,0,0.5);
  }
  .card .video iframe {
    width: 250px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
    border: 4px solid #fff;
  }
  
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    text-align: center;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }

/***************Estilos del Proyectos****************/

.proyecto__title {
    text-align: center;
    font-size: 40px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 50px;
}

.container_proyecto {
    width: 100vw;
    height: auto;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.slider_proyecto {
    display: flex;
    max-width: 90vw;
    height: auto;
    width: 100%;
    overflow-x: scroll;
    margin: 0 auto;
    scroll-snap-type: x proximity;
}

.slider_proyecto::-webkit-scrollbar {
    width: 0.625rem; 
}

.slider_proyecto::-webkit-scrollbar-thumb {
    border-radius: 3.125rem;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}

.slider_proyecto .item_proyecto {
    scroll-snap-align: center;
    width: 32%;
    margin: 0.625rem;
    height: 31.25rem;
    flex-shrink: 0;
   
}

.slider_proyecto .item_proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_proyecto img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 0.625rem;
}

.item__footer {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    border-top: 0.063rem solid gray;
}

.item__footer a {
    text-decoration: none;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    padding: 10px;
    width: 100px;
}

.item__footer a:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.item__footer a:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

.slider_proyecto .item_proyecto:last-child {
    margin-right: 0;
}

/***********************Estilos del Footer********************************/

footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
    font-family: sans-serif;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}

.logo_footer {
    width: 80px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col ul li {
    list-style: none;
}

.col ul li a {
    text-decoration: none;
    color: white;
}

.col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.col form .fa-envelope {
    font-size: 18px;
    margin-right: 10px;
}

.col form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.col form button {
    background: transparent;
    border:0;
    outline: none;
    cursor: pointer;
}

.col form button .fa-solid {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;

}

hr {
width: 90%;
border: 0;
border-bottom: 1px solid #ccc;
margin: 20px auto;
}

.copyright {
    text-align: center;
}
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation:  moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}


/*********************media queries para el tema responsive**********************************/

@media screen and (max-width: 670px) {
    .abrir-menu,.cerrar-menu {
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .abrir-menu {
        color: #ececec;
    }

    .cerrar-menu {
        color: #ececec;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
        position: absolute;
        right: 0;
        top:0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
        z-index: 10;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav__list li a {
        color:#ececec;
    }

    .slider {
        height: 400px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

@media (max-width: 890px) {
    .container_description {
        flex-flow: wrap;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .slider_proyecto .item_proyecto {
        width: 48%;
    }
}

@media (max-width: 700px) {
    .slider_proyecto .item_proyecto {
        width: 100%;
    }
}

@media (max-width: 700px) {
    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;

    }
    
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }

}